@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Unbounded:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
}

:root {
  --player-x-color: rgba(98, 101, 248, 0.609);
  --player-o-color: rgba(252, 223, 37, 0.609);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(33, 33, 35);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

header > div {
  background-color: rgba(255, 255, 255, 0.89);
  width: 100vw;
  margin-bottom: 15px;
  font-family: 'Unbounded', cursive;
  letter-spacing: 2px;
  padding: 12px;
}

header > h1 {
  font-family: 'Unbounded', cursive;
  font-size: 12vmin;
  color:rgb(192, 171, 255);
}

.player-X, .player-O {
  font-family: 'Press Start 2P', cursive;
  font-size: 15vmin;
  color: rgb(255, 244, 244);
  position: relative;
  left: 1vmin;
}

.player-X {
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px var(--player-x-color), 
    0 0 20px var(--player-x-color), 
    0 0 25px var(--player-x-color), 
    0 0 30px var(--player-x-color), 
    0 0 35px var(--player-x-color);
}

.player-O {
  text-shadow: 
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 15px var(--player-o-color), 
    0 0 20px var(--player-o-color), 
    0 0 25px var(--player-o-color), 
    0 0 30px var(--player-o-color), 
    0 0 35px var(--player-o-color);
}

#board-container {
  background: linear-gradient(40deg, rgba(32, 16, 213, 0.668) 0%, rgba(65, 65, 69, 0.508) 75%, rgba(211, 201, 245, 0.809) 100%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 14px;
  padding: 3px;
  border: 2px solid whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 3vmin auto;
}

#board-container > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(46, 45, 51, 0.81);
  width: 25vmin;
  height: 25vmin;
  border-radius: 14px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  border: 1px solid rgba(255, 255, 255, 0.961);
}

#board-container > div:hover {
  background-color: rgba(104, 104, 118, 0.769);
  cursor: pointer;
}

#reset-btn {
  border: 1.8px solid white;
  background-color: rgba(255, 255, 255, 0.196);
  padding: 1.2vmin;
  color: white;
  border-radius: 8px;
  font-size: 3vmin;
}

#reset-btn:hover {
  cursor: pointer;
  background-color: rgba(28, 44, 195, 0.564);
}
